<% layout("/layout/every.ejs") %>
<body>
    <div class="container-fluid" style="background-color: #f7ffff; margin-bottom: 10px;">
        <!-- Header content -->
    </div>

    <div class="container">
        <h3 style="color: #e10425; margin-bottom: 20px; font-weight: bold; text-align: center;font-family: 'Noto Serif', serif;" class="blink_me">Application for Faculty Position</h3>
        
        <!-- Form content -->

        <!-- Success Message with Tick Icon -->
        <div class="text-center">
            <h4>Your application has been submitted successfully!</h4>
            <img src="assets/tick.png" width="50">
        </div>
    </div>

    <!-- Footer content -->
</body>
